{% extends 'base.html' %}
{% block head %}
    <title>カレンダー画面</title>
{% endblock %}
{% block body %}
    <div id="calendar"></div>
<script>
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
        events: [
            {% for event in events %}
            {
                title: {{ event.name | tojson }},
                start: {{ event.date.isoformat() | tojson }},
                url:{{ url_for('calendar_id',id=event.id) | tojson}}
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    });

    calendar.render();
</script>
{% endblock %}